@import "../styles/reset.scss";

// sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$color-white: white;
$color-black: black;
$color-brown: rgb(230, 161, 71);
$color-pink: #ca3ea6;
$color-blue: #3972b8;
$color-grey: rgb(156, 150, 150);
body {
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
}

.header {
  display: flex;
  align-items: baseline;

  padding: 10px;
}

.containerApp {
  display: flex;
  justify-content: space-around;
}

.main {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.main__description {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.menu {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  height: 70vh;
  width: 50px;
  top: 10%;
  justify-content: space-between;
}

.menu__sections {
  transform: rotate(-90deg);
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.menu__sections:hover {
  transform: scale(1.5) rotate(-90deg);
  color: $color-brown;
}

.imageMe {
  position: absolute;
  background-image: url("../images/imageprofile.png");
  background-size: 70%;
  left: 30px;
  top: -38px;
  background-repeat: no-repeat;
  height: 18rem;
  width: 18rem;
}

.main_imageprofile {
  background: linear-gradient(180deg, $color-pink 0%, $color-blue 100%);
  position: sticky;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin-top: 50px;
  left: 20px;
}

.icons {
  bottom: 0;
  position: fixed;
  cursor: pointer;
}

.fa-brands {
  padding: 10px;
}
.fa-brands:hover {
  transform: scale(1.5);
}

.fa-brands {
  margin-bottom: 10px;
  font-size: 20px;
}

.write {
  position: relative;
  color: $color-brown;
}

.write::after {
  content: "";
  border-left: 2px solid $color-white;
  background: url("../images/background.png");
  right: 0;
  height: 100%;
  position: absolute;
  animation: maquinaescribir 2s infinite alternate steps(11);
}

@keyframes maquinaescribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: $color-brown;
}

.main_contain-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_contain-skills img {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.pink {
  width: 25px;
  height: 25px;
  background: $color-pink;
}
.blue {
  width: 25px;
  height: 25px;
  background: $color-blue;
  margin-top: 10px;
}

.main_containertitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // margin-bottom: 10px ;
}

.imageavatar {
  width: 30%;
  height: 60%;
}

.main_section {
  width: 100%;
  margin-top: 25px;
}

.experience {
  background: $color-white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.imageadalab {
  width: 50px;
  margin-right: 10px;
}

.textexperience {
  color: $color-black;
  text-align: justify;
}

.date {
  color: $color-grey;
}

.adalab {
  display: flex;
}

.imageprofile {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
}

.contactme {
  background: linear-gradient(180deg, $color-pink 0%, $color-blue 100%);

  border-radius: 100%;
  width: 50px;
  height: 50px;

  left: 20px;
}

.contactmenow {
  display: flex;
  align-items: center;
  font-style: italic;
}

.contactme__text {
  margin-left: -25px;
}
.contactme__textcolor {
  color: $color-brown;
}

.descriptionmenu {
  margin: 0px 60px 0px 20px;
}

.container__sinfooter {
  margin-bottom: 80px;
  width: 100%;
}

.avatar {
  display: none;
}

@media all and (min-width: $tablet-width) {
  .aboutme {
    display: flex;
  }
  .avatar {
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: -50px;
  }
}
