@import "./core/variables.scss";
@import "./core/reset.scss";
@import "./core/typography.scss";
@import "./banner.scss";
@import "./aboutme.scss";
@import "./footer.scss";
@import "./challenge.scss";
@import "./contactme.scss";
@import "./experience.scss";
@import "./menutabler.scss";
@import "./skills.scss";
@import "./header.scss";
@import "./main.scss";
