.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
  color: #FFFFFF;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}
