@import "../styles/Reset.scss";

// sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$color-white: white;
$color-black: black;
$color-brown: rgb(230, 161, 71);
$color-pink: #ca3ea6;
$color-blue: #3972b8;
$color-grey: rgb(156, 150, 150);

body {
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  padding: 15px;
}

.header__names {
  display: flex;
  align-items: center;
  align-content: center;
}

.iconmenu {
  font-size: 30px;
  color: $color-brown;
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px;
}

.menu__mobile {
  background: linear-gradient(180deg, $color-pink 0%, $color-blue 100%);
  right: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}

.btnclose {
  cursor: pointer;
}

.iconx {
  color: $color-brown;
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 1.5rem;
}

.menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.menu_mobilelist {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.banner__text {
  font-size: 25px;
  font-size: 2.3rem;
  position: relative;
}

.banner__text-write {
  position: relative;
  color: $color-brown;
}

.banner__text-write::after {
  content: "";
  border-left: 2px solid $color-white;
  background: url("../images/background.png");
  right: 0;
  height: 100%;
  position: absolute;
  animation: maquinaescribir 2s infinite alternate steps(11);
}

@keyframes maquinaescribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.banner__image {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.banner__image-imageMe {
  background-image: url("../images/imageprofile.png");
  background-size: 90%;
  background-repeat: no-repeat;
  height: 17rem;
  width: 13rem;
  margin-top: -45px;
}

.banner__image-imageprofile {
  background: linear-gradient(180deg, $color-pink 0%, $color-blue 100%);
  border-radius: 100%;
  width: 220px;
  height: 220px;
  margin-top: -20px;
}
.main {
  margin: 10px;
  display: flex;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: $color-brown;
  padding: 15px 0px;
}

.aboutme__label {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.aboutme__rectanglepink {
  width: 25px;
  height: 25px;
  background: $color-pink;
}
.aboutme__rectangleblue {
  width: 25px;
  height: 25px;
  background: $color-blue;
  margin-top: 10px;
}

.aboutme__text {
  font-size: 1.4rem;
}
.avatar {
  display: none;
}

.skills__icons {
  text-align: center;
}

.skills__icons-image {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 20px;
}

.skills__icons-image:hover {
  transform: scale(1.5);
}

.withskills {
  height: 55px;
  width: 80px;
}

.experience__contain {
  background: $color-white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.imageadalab {
  width: 50px;
  margin-right: 10px;
}

.textexperience {
  color: $color-black;
  text-align: justify;
}

.date {
  color: $color-grey;
}

.adalab {
  display: flex;
}

.imageprofile {
  // width: 250px;
  height: 250px;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.profile__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .profile__container {
    text-align: center;
  }

.contactme {
  margin-bottom: 60px;
}

.contactme__circle {
  background: linear-gradient(180deg, $color-pink 0%, $color-blue 100%);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  left: 20px;
}

.contactmenow {
  display: flex;
  align-items: center;
  font-style: italic;
}

.contactme__text {
  margin-left: -25px;
}
.contactme__textcolor {
  color: $color-brown;
}
.menu__tablet {
  display: none;
}

.icons {
  bottom: 0;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fa-brands {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.fa-brands:hover {
  transform: scale(1.5);
}

.backtotop,
.backicon {
  color: $color-brown;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.textback {
  margin-right: 10px;
  color: $color-brown;
}

@media all and (min-width: $tablet-width) {
  .iconmenu {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .banner__image {
    display: flex;
    justify-content: flex-start;
  }

  .banner__image-imageMe {
    height: 20rem;
    width: 15rem;
    margin-top: -60px;
  }

  .banner__image-imageprofile {
    width: 250px;
    height: 250px;
    margin-top: 0px;
    left: 0;

    margin-left: 50px;
  }

  .banner__iam {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    justify-content: center;
  }

  .aboutme {
    display: flex;
    justify-content: space-between;
  }
  .avatar {
    display: flex;
    width: 250px;
    height: 250px;
    right: 0;
  }

  .skills__icons-image {
    width: 80px;
    height: 80px;
  }

  .withskills {
    width: 140px;
  }

  .main {
    margin-right: 100px;
  }

  .menu__tablet {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    justify-content: space-evenly;
  }

  .menu__sections {
    transform: rotate(-90deg);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  .menu__sections:hover {
    transform: scale(1.5) rotate(-90deg);
    color: $color-brown;
  }

  .menu__mobile {
    display: none;
  }

  .imageprofile {
    // width: 300px;
    height: 350px;
    padding: 15px;
  }


}
