body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}
