@import "./core/variables";

.main {
  margin: 0 auto;
  padding: 4rem;
  max-width: 1100px;
}

.main__sections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media all and (min-width: $tablet-width) {
  .main {
    padding: 5rem;
  }
}

@media all and (min-width: $desktop-width) {
  .main {
    padding: 3rem 0 6rem;
  }
}
